﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container-fluid text-center" style="justify-content: center">
    @if (User.Identity.IsAuthenticated)
    {

        <div class="row m-2">
            <div class="col">
                <input id="count" value="" placeholder="Enter count" class="form-control" type="number" />
            </div>
            <div class="col">
                <button class="btn btn-outline-success" id="getContacts">Get Contacts</button>
            </div>
        </div>

        <div class="row m-2 pt-2" id="contacts"></div>
    }
    else
    {
        <div class="m-2">
            <a href="/api/Auth/Login" class="btn btn-outline-primary">Log In</a>
        </div>
    }
</div>