﻿
@{

    Layout = null;

    ViewData["Title"] = "GetAllProjects";
}
<head>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"
            integrity="sha256-SDf34fFWX/ZnUozXXEH0AeB+Ip3hvRsjLwp6QNTEb3k="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

</head>
<h1>GetAllProjects</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="jsGrid"></div>

</div>


<script>
    $(document).ready(function () {

        $("#jsGrid").jsGrid({
        width: "100%",
        height: "400px",

        autoload: true,
        inserting: true,
        editing: true,
        sorting: true,
        paging: true,

        controller: {
            loadData: function () {
                var d = $.Deferred();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetProjects", "Jira")',
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json"
                }).done(function (response) {
                    d.resolve(JSON.parse(response));
                  //  alert(response);
                });
                return d.promise();
            }
        },
        fields: [
            { name: "ProjectName", type: "text", width: 150 },
            { name: "Key", type: "text", width: 100 },
            { name: "Id", type: "number", width: 50 }
        ]
    });

    });


</script>