﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="btnTest" onclick="jiraInvoke()">ApiInvoke </button>
</div>

<script>


    function jiraInvoke() {
        alert("tet ss");

        var token = "mVGSX4DOlcT9A9VMHjT9DK86x1UNmV";
        var url = "https://api.tempo.io:443/core/3/worklogs?from=2019-11-10&to=2019-11-19";

        $.ajax({
            url: url,
            beforeSend: function (xhr) {
                //alert('before send');
                xhr.setRequestHeader("Authorization", "Bearer " + token)
            },

        })
            .done(function (data) {
                alert("done");
                //$.each(data, function (key, value) {
                //    // Do Something
                //})
            })
            .fail(function (jqXHR, textStatus) {
                alert("Error: " + textStatus);
            });
    }

</script>